$nameFontSize: 24px;

#page-content {
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  
  .tab-pane { 
    .icebreaker-container {
      padding: 25px 0 0;
      
      .icebreaker-question-label {
        font-weight: bold;
        font-size: 16px;
      }
      
      .icebreaker-question-text {
        font-size: 16px;
      }
    }
    
    .tab-pane-container {
      display: flex;
      
      #minglers-section-container {
        padding-left: 35px;
      }
    }
  }
}

.tab-pane h3, .tab-pane h4 {
  padding: 25px 0 5px;
}

ul {
  list-style: none;
  
  li {
    padding: 3px 0;
    display: flex;
    gap: 8px;
  }
}

.form-row {
  padding: 10px 0;
}

.table-number {
  font-weight: bold;
  color: #d99432;
  width: 24px;
}

#page-content h1 {
  margin-bottom: 30px;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

#pairs-section-container {
  flex: 3 1 auto;
}

#minglers-section-container {
  flex: 2 1 auto;
}

.pairs-minglers-section { 
  padding-left: 0px;
  font-size: $nameFontSize;
  
  li {
    padding: 12px 0 0 0;
    border-bottom: 1px solid #d99432;
  }
}

.pairs-section {
  column-count: 2;
}

#upload-icebreaker-questions-header {
  padding-bottom: 20px;
}